<!DOCTYPE html>
<html>

{include file="public:header"}

<body>

  <section class="webkit_box">
    <div class="common_head am-text-center white">
      消息详情
      <a href="javascript:history.back(-1)" class="common_back">
        <i class="iconfont icon-fanhui am-text-xl"></i>
      </a>
    </div>

    <section class="webkit_content">
      <div class="article_wrap">
        <div class="article_container pad_10">
          <h4>{$re.name}</h4>
          {$re.desc}
        </div>
      </div>
    </section>
  </section>

</body>

</html>